.rt-button {
    width: 150px;
    background-color: var(--bg-button-color);
    color: var(--font-button-color);
    font-size: 16px;
    font-weight: 700;
    padding: 13px 20px;
    border-radius: 6px;
}